body{
  margin: 0 0;
  padding: 0 0;
  font-family: 'barlow', sans-serif;
}


.banner{
background-color: #CE2829;
display: flex;
justify-content: flex-start;
text-align: center;
min-height: 100vh;
align-items: center;
padding-top:20px; 
flex-direction: column;
position: relative;
overflow: hidden;
background-image: url("/assets/iteration-1/home-banner.png");
background-repeat: no-repeat;
background-position: center bottom;
background-size: cover;
}
h2{
  color: white;
  margin: 0 auto;
  font-family: 'Quattrocento', serif;
	font-weight: 700;
}
.banner-content{
display: flex;
flex-direction: column;
text-align: center;
max-width: 700px;
margin: 0 auto;
gap: 12px;
color: white;
position: relative;
}
.banner-content h1{
  font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300; 
		line-height: 1.05;
}
.banner-content h1 span {
  display: block;
}
.slogan{
text-align: center;
margin-bottom: 6px ;
color: #FDC913;
font-family: 'Satisfy', cursive;
font-size: 24px;
line-height: 1;
}
.btn{
  border-radius: 8px;
  background-color: #FDC913;
  padding: 12px 28px;
  color: black;
  border:none;
  align-self: center;
  margin-top: 0;
  transition: 0.3s;

}
.btn:hover{
  background-color: white;
  cursor: pointer;
  
}
h1{
  margin: 0;
  line-height: 1.05;
}
.pizza {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 60px;
  width:900px;
  max-width: 120vw;
  height: auto;
}
.sekme{
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 20px 10vw;
  flex-wrap: wrap;
}